.container {
    display: flex;
    margin: 40px 0;
    align-items: center;

    img {
        width: 150px;
        height: 150px;
    }

    &__name,
    &__type,
    &__year {
        padding: 0 10px;
    }
}
